.navigation {
    display: flex;
    background-color: white;
    background-size: auto;
}

.nav {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    flex: 1 0 0;
}

.img {
    position: right;
}

.title {
    text-align: center;
    font-size: 100px;
}