.priceList {
    margin: 0 auto;
    display: flex;
}

.priceList__img {
    padding-top: 5px;
    flex: 1 0 0;
    margin: 10px;
}

.priceList__title {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}