.section {
    display: flex;
    padding: 40px;
    border-bottom: 3px outset black;
}

.section__title {
    text-align: center;
}

.section__article {
    flex-basis: 50%;
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

@media (max-width: 767px) {
    .section {
        flex-wrap: wrap;
    }

    .section__article--flex {
        flex-basis: 100%;
    }

}