.section {
    display: flex;
    max-height: 600px;
    padding: 60px;
    border-bottom: 3px outset black;
}

.section__title {
    text-align: center;
}

.section__article {
    margin: 10px;
    font-size: 15px;
}

.section__article--flex {
    flex: 0 1 1;
}